body {
	font-family: sans-serif;
	font-size: 12px;
}

.application {
  max-width: 800px;
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background: #ded
}

.side-panel {
  float: left;
  width: 100px;
  padding: 3px;
}

.map {
  float: right;
  padding: 3px;
}

.mapitself {
  display: block;
  height: 100%;
  width: 100%;
}
